.hero {
    background: url(https://images.unsplash.com/photo-1497581170673-3d7d98e9a075?ixlib=rb-1.2.1&auto=format&fit=crop&w=307&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    .hero-btn {
        .new-btn(@canyon, 20%, white);
        .warped();
    }
    
}
.services{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2% 0;
    .logistics{
        width: 30%;
     img{
        width: 100%;
    }
    }
    .luggage {
        width: 30%;
        img{
        width: 100%;
    }
    }
    .child-care {
        width: 30%;
        img{
            width: 100%;
        }
    }
}
.languages{
    display: flex;
    flex-direction: column;
    text-align: center;
    .offered{
        margin: 2% 0;
        display: flex;
        img{
            width: 30%;
        }
    }
    .coming-soon{
        display: flex;
        margin: 2% 0;
        img{
            width: 40%;
        }
    }
}